@model Order

<div class="container">
    <h1>Ürünler - Sipariş No: @Model.OrderId</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Ürün Adı</th>
                    <th>Miktar</th>
                    <th>Birim Fiyat</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var detail in Model.OrderDetails)
                {
                    <tr>
                        <td>@detail.Product.ProductName</td>
                        <td>@detail.Quantity</td>
                        <td>@detail.UnitPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
